* {
	margin: 0px;
	padding: 0px;
}

body{
	background-color: black;
}
div.row div{
	width: 28px;
	height: 28px;
	display: inline-block;
	vertical-align: top;
}


div.wall {
	background-color: blue;
}

div.dot {
	background:url("../img/dot.png");
	background-size: 5px 5px;
	background-repeat: no-repeat;
	background-position: center;
}
div.empty{}

div#pacman {
	background: url("../img/pacman2.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 28px;
	height: 28px;
	position: absolute;
}
