<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/style/login.css">
</head>
<body>
	<form action = '/results' method="post">
		<input type='text' name = 'name' placeholder="enter username">
		<input type='text' name = 'password' placeholder="enter password">
		<input type='radio' name = 'game' value="pacman">Pacman
		<input type='radio' name = 'game' value="tetris">Tetris
		<input type='submit' name = 'submit'>
	</form>
</body>
</html>