<!DOCTYPE html>
<html>
	<head>
		<title>Pacman - ejs</title>
		<link rel="stylesheet" type="text/css" href="../style/pacman.css">
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="../script/map.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="world">
			</div>
			<div id="pacman"></div>
			<div id="scoreboard">
				<h2>Username:<br>
					<%=name%></h2>
				<br>
				<p id="score"></p>
			</div>
			<div id="name"></div>
		</div>
	</body>
</html>